# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Django
*.sqlite3
*.db
media/
staticfiles/

# Virtual environment
venv/
.env
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
core/migrations/*.py
!core/migrations/__init__.py
